@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital@1&family=Titillium+Web:wght@300&display=swap');

body{
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Titillium Web', sans-serif;
background:  linear-gradient(to right, #f26ad5, #ce73e5, #a27bee, #6e81f0, #1284eb);
}

.main_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;    
   }
.main_section p{
    font-size: 3rem;
    margin-bottom: 2px;
}
.main_section > h3{
font-size: 2rem;
}
.image{
   background-image:url(images/raj.jpg);
   margin-top: 40px;
   height:150px;
   width: 150px;
   border-radius: 10px;
   cursor: pointer;  
   transition: transform 1s;
   
}   

.image:hover{               
        transform: scale(1.5);
    }
 
.links a{
    text-decoration: none;
    color: white;
}
.Sublink{
    background-color:#00c9b7;
    padding: 10px;
    border-radius: 20px;     
    text-align: center;
    width: 40vw;
}
.Sublink:hover{
    background-color:white;
    color:black;    
    transition: 1s ease-in;
}
@media screen and (max-width:620px){
    .Sublink{
        width: 80vw;
    }

    .Sublink{
 margin-bottom: 50px;;
    }
    .main_section p{
        font-size: 2rem;
    }
    .main_section > h3{
    font-size: 1rem;
    }
}
